[url "git@github.com:"]
	pushInsteadOf = https://github.com/
	pushInsteadOf = "github:"
	pushInsteadOf = "git://github.com/"

[user]
	name = Tobias Kohlbau
	email = tobias.kohlbau@gmail.com
	signingkey = 0x86794390A488A7E9

[commit]
	gpgsign = true
